<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <meta charset="UTF-8">
    <title>Lista</title>
</head>
<body>
<h1>LISTA</h1>
<div>

    <a class="products" th:each="product: ${products}">
        <a th:text="${product.getName()}">asa</a>
        <a th:text="${product.getPrice()}">asa</a> <br/>
        <a th:text="${product.getPrice() + product.getPrice()}">asa</a> <br/>
    </a>

</div>
</body>
</html>