<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<h1>Strona z produktami</h1>
<div>
    <a href="lista">Lista</a>
    <a href="tabela">Tabela</a>

</div>

<form action="/add" method="post">

    <input type="text" name="name" placeholder="Nazwa"/>
    <input type="number" name="price" placeholder="Cena"/>
    <input type="submit" value="Dodaj!"/>

</form>
</body>
</html>