<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schronisko</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <meta charset="UTF-8">
    <title>Tabela</title>
</head>
<body>
<table>
    <tr>
        <th>NAME</th>
        <th>PRICE</th>

    </tr>
    <tr class="products" th:each="product: ${products}">
        <td th:text="${product.name}">Onions</td>
        <td th:text="${product.price}">2.41</td>
    </tr>
</table>
</body>
</html>